[submodule "lib/websocketpp"]
	path = lib/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "lib/sqlite3"]
	path = lib/sqlite3
	url = https://github.com/azadkuh/sqlite-amalgamation.git
