# VS files
/.vs/
/Toast.sln
/Toast.VC*
/Toast/Toast.vcxproj*
/Toast/x64/
/x64/

# Data files
/Toast/data_management/questions
/Toast/bot/db/trivia.db

# Config file
config.json

# Compiled sqlite file
sqlite3.obj

# V8 lib
lib/v8

# Built files
build/
